.feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.feature-icon {
  position: relative;
  ;
}

.inner-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.feature-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  color: #332e62;
}

.feature-text p {
  line-height: 1.4;
  max-width: 70%;
  color: #332e62;
}

@media screen and (max-width: 600px) {
  .feature {
    grid-template-columns: 1fr;
}

.features .img {
    max-width: 100%;
}
  .features-content {
    flex-direction: column;
  }
  
  .feature-text h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
    text-transform: uppercase;
    color: #332e62;
  }
  
  .feature-text p {
    line-height: 1.4;
    text-align: center;
    max-width: 100%;
    color: rgb(253, 245, 224);
  }
  
}

